<app-header></app-header>
<div class="page page-center">
    <div class="container container-tight py-4">
      <div class="text-center mb-4">
        
      </div>
      <div class="card card-md">
        <div class="card-body">
          <h2 class="mb-3">Payment Successful</h2>
          <p class="text-secondary mb-4">
            Thank you for your payment. You will shortly receive an email with your policy package
          </p>
          <ul class="list-unstyled space-y">
            <li class="row g-2">
              <span class="col-auto"><!-- Download SVG icon from http://tabler-icons.io/i/check -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon me-1 text-success"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l5 5l10 -10"></path></svg>
              </span>
              <span class="col">
                <strong class="d-block">Motor Insurance</strong>
                <span class="d-block text-secondary">Payment received.</span>
              </span>
            </li>
            
        
          </ul>
          <div class="my-4">
            <a [routerLink]="['/welcome']" routerLinkActive="router-link-active"  class="btn btn-primary w-100">
              Go to Home
            </a>
          </div>
          <p class="text-secondary">
            If you need to get a trial extension please feel free to <a href="#">contact us</a>.
          </p>
        </div>
      </div>
    </div>
  </div>