<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">New Contract</h2>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mb-3"
    *ngIf="
      parseService.fetching ||
      parseService.saving ||
      this.parseService.uploading
    "
  >
    <div class="progress">
      <div class="progress-bar progress-bar-indeterminate bg-green"></div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="row mb-3">
                        <!-- Contract Number/ID -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Contract Number/ID</label>
                            <input type="text" class="form-control" formControlName="contractId" required>
                          </div>
                        </div>
              
                        <!-- Contract Name -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Contract Name</label>
                            <input type="text" class="form-control" formControlName="name" required>
                          </div>
                        </div>
                      </div>
              
                      <div class="row mb-3">
                        <!-- Vendor -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Vendor</label>
                            <input type="text" class="form-control" formControlName="vendor" required>
                          </div>
                        </div>
              
                        <!-- Contract Type -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Contract Type</label>
                            <select class="form-control" formControlName="type" required>
                              <option value="Service Agreement">Service Agreement</option>
                              <option value="Lease">Lease</option>
                              <option value="NDA">NDA</option>
                              <option value="Sales Contract">Sales Contract</option>
                            </select>
                          </div>
                        </div>
                      </div>
              
                      <div class="row mb-3">
                        <!-- Contract Value -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Contract Value</label>
                            <input type="number" class="form-control" formControlName="value" required>
                          </div>
                        </div>
              
                        <!-- Currency -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Currency</label>
                            <select class="form-control" formControlName="currency" required>
                                <option value="UGX">UGX</option>
                                <option value="USD">USD</option>
                              </select>
                          </div>
                        </div>
                      </div>
              
                      <div class="row mb-3">
                        <!-- Start Date -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Start Date</label>
                            <input type="date" class="form-control" formControlName="startDate" required>
                          </div>
                        </div>
              
                        <!-- End Date -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">End Date</label>
                            <input type="date" class="form-control" formControlName="endDate" required>
                          </div>
                        </div>
                      </div>
              
                      <div class="row mb-3">
                        <!-- Renewal Date -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Renewal Date</label>
                            <input type="date" class="form-control" formControlName="renewalDate">
                          </div>
                        </div>
              
                        <!-- Termination Date -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Termination Date</label>
                            <input type="date" class="form-control" formControlName="terminationDate">
                          </div>
                        </div>
                      </div>
              
                      <div class="row mb-3">
                        <!-- Contract Status -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Status</label>
                            <select class="form-control" formControlName="status" required>
                              <option value="Active">Active</option>
                              <option value="Expired">Expired</option>
                              <option value="Pending">Pending</option>
                              <option value="Terminated">Terminated</option>
                            </select>
                          </div>
                        </div>
              
                        <!-- Contract Owner -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Contract Owner</label>
                            <input type="text" class="form-control" formControlName="owner" required>
                          </div>
                        </div>
                      </div>
              
                      <div class="row mb-3">
                        <!-- Parties Involved -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Parties Involved</label>
                            <textarea class="form-control" formControlName="parties" required></textarea>
                          </div>
                        </div>

                        <!-- Associated Contracts -->
                        <div class="col-md-6">
                            <div class="form-group">
                              <label class="form-label">Associated Contracts</label>
                              <textarea class="form-control" formControlName="associatedContracts"></textarea>
                            </div>
                          </div>
              
                      </div>
              
                      <div class="row mb-3">
                        <!-- Payment Terms -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Payment Terms</label>
                            <textarea class="form-control" formControlName="paymentTerms"></textarea>
                          </div>
                        </div>
              
                        <!-- Key Milestones -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Key Milestones</label>
                            <textarea class="form-control" formControlName="milestones"></textarea>
                          </div>
                        </div>
                      </div>
              
                      <div class="row mb-3">
                        <!-- Governing Law -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Governing Law</label>
                            <input type="text" class="form-control" formControlName="governingLaw">
                          </div>
                        </div>
              
                        <!-- Risk Level -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Risk Level</label>
                            <select class="form-control" formControlName="riskLevel">
                              <option value="Low">Low</option>
                              <option value="Medium">Medium</option>
                              <option value="High">High</option>
                            </select>
                          </div>
                        </div>
                      </div>
              
                      <div class="row mb-3">
                        <!-- Confidentiality Clause -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Confidentiality Clause</label>
                            <textarea class="form-control" formControlName="confidentiality"></textarea>
                          </div>
                        </div>
              
                        <!-- Notes/Comments -->
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">Notes/Comments</label>
                            <textarea class="form-control" formControlName="notes"></textarea>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="hr-text">Attachments</div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <!-- <label class="form-label">Upload documents below.</label> -->
                      <div class="input-group">
                        <button type="button" class="btn">
                          Choose a document to Upload
                        </button>
                        <button
                          data-bs-toggle="dropdown"
                          type="button"
                          class="btn dropdown-toggle dropdown-toggle-split show"
                          aria-expanded="true"
                        ></button>
                        <div
                          class="dropdown-menu dropdown-menu-end"
                          data-popper-placement="bottom-end"
                          style="
                            position: absolute;
                            inset: 0px 0px auto auto;
                            margin: 0px;
                            transform: translate(0px, 42px);
                          "
                        >
                          <a class="dropdown-item" (click)="pickFile()">
                            New Document
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf="docs && docs.length">
                  <div class="col-lg-6">
                    <label class="form-label">Uploaded documents.</label>

                    <div *ngFor="let doc of docs; let i = index">
                      <div class="card card-sm">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <a
                              [href]="doc.url"
                              target="_blank"
                              class="col-auto"
                            >
                              <span class="bg-primary text-white avatar">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-certificate"
                                >
                                  <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                  />
                                  <path
                                    d="M15 15m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
                                  />
                                  <path d="M13 17.5v4.5l2 -1.5l2 1.5v-4.5" />
                                  <path
                                    d="M10 19h-5a2 2 0 0 1 -2 -2v-10c0 -1.1 .9 -2 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -1 1.73"
                                  />
                                  <path d="M6 9l12 0" />
                                  <path d="M6 12l3 0" />
                                  <path d="M6 15l2 0" />
                                </svg>
                              </span>
                            </a>
                            <a [href]="doc.url" target="_blank" class="col">
                              <div class="font-weight-medium">
                                {{ doc.name }}
                              </div>
                              <div class="text-secondary">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-lock-open"
                                >
                                  <path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"
                                  />
                                  <path
                                    d="M19 18a3.5 3.5 0 0 0 0 -7h-1c.397 -1.768 -.285 -3.593 -1.788 -4.787c-1.503 -1.193 -3.6 -1.575 -5.5 -1s-3.315 2.019 -3.712 3.787c-2.199 -.088 -4.155 1.326 -4.666 3.373c-.512 2.047 .564 4.154 2.566 5.027"
                                  />
                                  <path
                                    d="M8 15m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z"
                                  />
                                  <path d="M10 15v-2a2 2 0 0 1 3.736 -1" />
                                </svg>
                              </div>
                            </a>
                            <div class="col-auto">
                              <span
                                class="tag"
                                (click)="removeDocument(doc, i)"
                              >
                                <span
                                  class="badge bg-red text-red-fg tag-status badge-empty"
                                >
                                </span>
                                Delete
                                <a class="btn-close"></a>
                              </span>
                            </div>
                            <a
                              [href]="doc.url"
                              class="col-auto"
                              target="_blank"
                            >
                              <span class="tag">
                                <span
                                  class="badge bg-red text-red-fg tag-status badge-empty"
                                >
                                </span>
                                View
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="btn-list">
                  <button
                    type="submit"
                    class="btn btn-primary d-none d-sm-inline-block ms-auto"
                  >
                    Save & Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
