<!-- Hero Section - Home Page -->
<app-header></app-header>
<div class="page-wrapper">
  <div class="mb-3" *ngIf="
      parseService.fetching || parseService.saving || parseService.deleting
    ">
    <div class="progress">
      <div class="progress-bar progress-bar-indeterminate bg-green"></div>
    </div>
  </div>

  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">List</div>
          <h2 class="page-title">Rates</h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
          <div class="btn-list">
            <a data-bs-toggle="modal" data-bs-target="#modal-new-supplier"
              class="btn btn-primary d-none d-sm-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 5l0 14"></path>
                <path d="M5 12l14 0"></path>
              </svg>
              New Rate
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="container-xl">
      <div class="">
        <div class="row justify-content-center">
          <div class="col-3">
            <app-side-menu></app-side-menu>
          </div>
          <div class="col-lg-9">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="">
                      <table class="table table-vcenter card-table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Product</th>
                            <th>Rate</th>
                            <th>Intermediary</th>
                            <!-- <th>Address</th> -->
                            <th class="w-1"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of list; let i=index">
                            <td>{{ item.get("name") }}</td>
                            <td class="text-secondary">
                              {{ item.get("coverType") }}
                            </td>
                            <td class="text-secondary">
                              {{ item.get("rate") }}
                            </td>

                            <td class="text-secondary">
                              {{ item.get("user").get('name') }}
                            </td>
                            <td class="text-end">
                              <span class="dropdown">
                                <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport"
                                  data-bs-toggle="dropdown">
                                  Actions
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                  <a (click)="setItemToEdit(item, i)" data-bs-toggle="modal"
                                    data-bs-target="#modal-edit-supplier" class="dropdown-item text-orange">
                                    Edit
                                  </a>
                                  <a (click)="deleteItem(item)" class="dropdown-item text-red">
                                    Delete
                                  </a>
                                </div>
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <div class="card card-md" *ngIf="list?.length == 0">
                        <div class="card-body">
                          <p class="text-secondary mb-4">Nothing found</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-new-supplier" tabindex="-1">
  <form (ngSubmit)="submitForm()" [formGroup]="myForm">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Rate</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group mb-3 col-lg-6">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" [(ngModel)]="data.name" formControlName="name" />
              <div *ngIf="
                  this.parseService.submitting &&
                  myForm.get('name')!.invalid &&
                  myForm.get('name')!.touched
                " class="text-danger">
                Name is required.
              </div>
            </div>

            <div class="form-group mb-3 col-lg-6">
              <label class="form-label">Cover Type</label>
              <select class="form-select" [(ngModel)]="data.coverType" id="coverType" formControlName="coverType">
                <option value="">Select</option>
                <option [value]="s" *ngFor="let s of coverTypes">
                  {{ s }}
                </option>
              </select>
              <div *ngIf="
                  this.parseService.submitting &&
                  myForm.get('coverType')!.invalid &&
                  myForm.get('coverType')!.touched
                " class="text-danger">
                Cover Type is required.
              </div>
            </div>
            <div class="form-group mb-3 col-lg-6">
              <label class="form-label">Select the Intermediaries.</label>
              <select #multiSelectAgent id="multiSelectAgent" name="Intermediaries" multiple>
                <option [value]="d.id" *ngFor="let d of users">{{ d.name }}</option>
              </select>
              <div *ngIf="
                  this.parseService.submitting &&
                  myForm.get('intermediary')!.invalid &&
                  myForm.get('intermediary')!.touched
                " class="text-danger">
                Intermediary is required.
              </div>
            </div>

            <div class="form-group mb-3 col-lg-6"
              [ngClass]="{'hidden': (data.coverType === 'Motor Commercial' || data.coverType === 'Motor Private')}">
              <label class="form-label">Basic Rate</label>
              <input type="number" [(ngModel)]="data.rate" class="form-control" formControlName="rate" />
              <div *ngIf="
                  this.parseService.submitting &&
                  myForm.get('rate')!.invalid &&
                  myForm.get('rate')!.touched
                " class="text-danger">
                Rate is required.
              </div>
            </div>
            <div class="form-group mb-3 col-lg-6"
              [ngClass]="{'hidden': !(data.coverType === 'Motor Commercial' || data.coverType === 'Motor Private')}">

              <label class="form-label">Vehicle Make(s) to Exclude</label>

              <select #multiSelectVehicleMake id="multiSelectVehicleMake" name="vehicleMakesExcluded" multiple>
                <option *ngFor="let item of makes" [value]="item.id">{{ item.make }}</option>
              </select>
            </div>

            <!-- <button type="submit" (click)="submitMulti()">Submit</button> -->

            <div class="form-group mb-3 col-lg-6"
              *ngIf="data.coverType == 'Motor Commercial' || data.coverType == 'Motor Private'">
              <label class="form-label">Maximum Vehicle Age for this rate?</label>
              <input [formControl]="ageControl" [imask]="ageMask" unmask="typed" [(ngModel)]="data.maxVehicleAge"
                class="form-control" formControlName="maxVehicleAge" />
              <div *ngIf="
                  this.parseService.submitting &&
                  myForm.get('maxVehicleAge')!.invalid &&
                  myForm.get('maxVehicleAge')!.touched
                " class="text-danger">
                Maximum Vehicle Age is required.
              </div>
            </div>

            <div class="form-group mb-3 col-lg-6"
              *ngIf="data.coverType == 'Motor Commercial' || data.coverType == 'Motor Private'">
              <label class="form-label">Minimum Premium for this rate?</label>
              <input [(ngModel)]="data.miniPremium" class="form-control" formControlName="miniPremium"
                [formControl]="premiumControl" [imask]="premiumMask" unmask="typed" />
              <div *ngIf="
                  this.parseService.submitting &&
                  myForm.get('miniPremium')!.invalid &&
                  myForm.get('miniPremium')!.touched
                " class="text-danger">
                Minimum Premium for this rate is required.
              </div>
            </div>

            <!-- <div class="form-group mb-3 col-lg-6"
              *ngIf="data.coverType == 'Motor Commercial' || data.coverType == 'Motor Private'">
              <label class="form-label">Maximum Vehicle value for this rate?</label>
              <input [(ngModel)]="data.maxVehicleValue" class="form-control" formControlName="maxVehicleValue"
                [formControl]="control" [imask]="sumInsuredMask" unmask="typed" />
              <small class="form-hint">Minimum Vehicle value is Kshs. 500,000.</small>
              <div *ngIf="
                  this.parseService.submitting &&
                  myForm.get('maxVehicleValue')!.invalid &&
                  myForm.get('maxVehicleValue')!.touched
                " class="text-danger">
                Maximum Value of the Vehicle is required.
              </div>
            </div> -->

            <div class="form-group mb-3 col-lg-6" *ngIf="data.coverType == 'Motor Commercial'">
              <label class="form-label">Determine the Vehicle Usage for this rate</label>
              <select [(ngModel)]="data.vehicleUsage" class="form-select" [disabled]="!data.coverType">
                <option value="" disabled>Pick how the vehicle is used</option>
                <option *ngFor="let item of vehicleUsage" [value]="item">
                  {{ item }}
                </option>
              </select>
              <div *ngIf="
                  this.parseService.submitting &&
                  myForm.get('vehicleUsage')!.invalid &&
                  myForm.get('vehicleUsage')!.touched
                " class="text-danger">
                Vehicle Usage for this rate is required.
              </div>
            </div>

          </div>
          <div class="row" *ngIf="data.coverType == 'Motor Commercial' || data.coverType == 'Motor Private'">
            <div class="col-lg-6">
              <label class="form-label mb-3 text-center">Political Violence & Terrorism Benefit</label>
              <div class="my-0 mt-2 mb-2 text-center">
                <label class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="data.pvt" name="pvtCheck" id="pvt1" type="radio"
                    value="Inclusive" formControlName="pvt" />
                  <span class="form-check-label">Inclusive</span>
                </label>
                <label class="form-check form-check-inline">
                  <input class="form-check-input" value="Not Inclusive" [(ngModel)]="data.pvt" name="pvtCheck" id="pvt2"
                    type="radio" formControlName="pvt" />
                  <span class="form-check-label">Not Inclusive</span>
                </label>
              </div>
              <div class="row">
                <div class="form-group mb-3 col-lg-8" *ngIf="data.pvt === 'Not Inclusive'">
                  <label class="form-label">Minimum Premium</label>
                  <input [formControl]="pvtMiniControl" class="form-control" [(ngModel)]="data.pvtMini"
                    formControlName="pvtMini" [imask]="premiumMask" unmask="typed" />
                  <div *ngIf="
                    this.parseService.submitting &&
                    myForm.get('pvtMini')!.invalid &&
                    myForm.get('pvtMini')!.touched
                  " class="text-danger">
                    PVT Minimum premium is required.
                  </div>
                </div>
                <div class="form-group mb-3 col-lg-4" *ngIf="data.pvt === 'Not Inclusive'">
                  <label class="form-label">Benefit Rate</label>
                  <input class="form-control" [(ngModel)]="data.pvtRate" formControlName="pvtRate" />
                  <div *ngIf="
                    this.parseService.submitting &&
                    myForm.get('pvtRate')!.invalid &&
                    myForm.get('pvtRate')!.touched
                  " class="text-danger">
                    PVT Rate is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <label class="form-label mb-3 text-center">Excess Protector Benefit</label>
              <div class="my-0 mt-2 mb-2 text-center">
                <label class="form-check form-check-inline">
                  <input class="form-check-input" [(ngModel)]="data.excessProtector" name="excessProtectorCheck"
                    id="excessProtector1" type="radio" value="Inclusive" formControlName="excessProtector" />
                  <span class="form-check-label">Inclusive</span>
                </label>
                <label class="form-check form-check-inline">
                  <input class="form-check-input" value="Not Inclusive" [(ngModel)]="data.excessProtector"
                    name="excessProtectorCheck" id="excessProtector2" type="radio" formControlName="excessProtector" />
                  <span class="form-check-label">Not Inclusive</span>
                </label>
              </div>
              <div class="row">
                <div class="form-group mb-3 col-lg-8" *ngIf="data.excessProtector === 'Not Inclusive'">
                  <label class="form-label">Minimum Premium</label>
                  <input [formControl]="excessProtectorMiniControl" class="form-control"
                    [(ngModel)]="data.excessProtectorMini" formControlName="excessProtectorMini" [imask]="premiumMask"
                    unmask="typed" />
                  <div *ngIf="
                    this.parseService.submitting &&
                    myForm.get('excessProtectorMini')!.invalid &&
                    myForm.get('excessProtectorMini')!.touched
                  " class="text-danger">
                    Excess Protector Minimum premium is required.
                  </div>
                </div>
                <div class="form-group mb-3 col-lg-4" *ngIf="data.excessProtector === 'Not Inclusive'">
                  <label class="form-label">Benefit Rate</label>
                  <input class="form-control" [(ngModel)]="data.excessProtectorRate"
                    formControlName="excessProtectorRate" />
                  <div *ngIf="
                    this.parseService.submitting &&
                    myForm.get('excessProtectorRate')!.invalid &&
                    myForm.get('excessProtectorRate')!.touched
                  " class="text-danger">
                    Excess Protector Rate is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="data.coverType == 'Motor Private'">
            <label class="form-label mb-3 text-center">Loss of Use Benefit</label>
            <div class="my-0 mt-2 mb-2 text-center">
              <label class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="data.lossOfUse" name="lossOfUseCheck" id="lossOfUse1"
                  type="radio" value="Inclusive" formControlName="lossOfUse" />
                <span class="form-check-label">Inclusive</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" value="Not Inclusive" [(ngModel)]="data.lossOfUse" name="lossOfUseCheck"
                  id="lossOfUse2" type="radio" formControlName="lossOfUse" />
                <span class="form-check-label">Not Inclusive</span>
              </label>
            </div>
            <div class="row">
              <div class="form-group mb-3 col-lg-2"></div>
              <div class="form-group mb-3 col-lg-5" *ngIf="data.lossOfUse === 'Not Inclusive'">
                <label class="form-label">Benefit Amount per day</label>
                <input [formControl]="lossOfUseBDControl" class="form-control" [(ngModel)]="data.lossOfUseBD"
                  formControlName="lossOfUseBD" [imask]="premiumMask" unmask="typed" />
                <div *ngIf="
                    this.parseService.submitting &&
                    myForm.get('lossOfUseBD')!.invalid &&
                    myForm.get('lossOfUseBD')!.touched
                  " class="text-danger">
                  lossOfUse Minimum premium is required.
                </div>
              </div>
              <div class="form-group mb-3 col-lg-3" *ngIf="data.lossOfUse === 'Not Inclusive'">
                <label class="form-label">Benefit Rate</label>
                <input class="form-control" [(ngModel)]="data.lossOfUseRate" formControlName="lossOfUseRate" />
                <div *ngIf="
                    this.parseService.submitting &&
                    myForm.get('lossOfUseRate')!.invalid &&
                    myForm.get('lossOfUseRate')!.touched
                  " class="text-danger">
                  lossOfUse Rate is required.
                </div>
              </div>
              <div class="form-group mb-3 col-lg-2"></div>
            </div>
          </div>

          <div [ngClass]="{'hidden': !(data.coverType === 'Motor Commercial' || data.coverType === 'Motor Private')}">
            <div class="hr-text">Basic Rate</div>
            <div formArrayName="rates">
              <div *ngFor="let tx of rates.controls; let i = index" [formGroupName]="i" class="card p-2 mb-3">
                <div class="row card-header">
                  <div class="col">
                    <h5 class="card-title text-muted">
                      Rate ({{ i + 1 }})
                    </h5>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeRate(i)">
                      Remove Rate
                    </button>
                  </div>
                </div>

                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 mb-3 me-1">
                      <label class="form-label">Minimum Vehicle Value</label>
                      <input [formControl]="minVVControl" class="form-control"
                        formControlName="minVV"
                        [imask]="premiumMask" unmask="typed" />
                    </div>

                    <div class="col-md-4 mb-3 me-1">
                      <label class="form-label">Maximum Vehicle Value</label>
                      <input [formControl]="maxVVControl" class="form-control"
                        formControlName="maxVV"
                        [imask]="premiumMask" unmask="typed" />
                    </div>
                    <div class="col-md-2 mb-3">
                      <label class="form-label">Basic Rate</label>
                      <input [formControl]="rateRangeControl" class="form-control"
                        formControlName="rate"
                        [imask]="rateMask" unmask="typed" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-secondary" (click)="addRate()">
              Add Rate
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#" id="cancelButton" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          <button [disabled]="parseService.saving" type="submit" class="btn btn-primary ms-auto">
            {{ parseService.saving ? "Saving..." : "Save" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal" id="modal-edit-supplier" tabindex="-1">
  <form [formGroup]="editForm" (ngSubmit)="submitEdits()">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Rate</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group mb-3 col-lg-6">
              <label class="form-label">Name</label>
              <input type="text" [(ngModel)]="editData.name" class="form-control" formControlName="name" />
              <div *ngIf="
                  this.parseService.submitting &&
                  editForm.get('name')!.invalid &&
                  editForm.get('name')!.touched
                " class="text-danger">
                Name is required.
              </div>
            </div>


            <div class="form-group mb-3 col-lg-6">
              <label class="form-label">Cover Type</label>
              <select class="form-select" [(ngModel)]="editData.coverType" id="coverType" formControlName="coverType">
                <option value="">Select</option>
                <option [value]="s" *ngFor="let s of coverTypes">
                  {{ s }}
                </option>
              </select>
              <div *ngIf="
                    this.parseService.submitting &&
                    myForm.get('coverType')!.invalid &&
                    myForm.get('coverType')!.touched
                  " class="text-danger">
                Cover Type is required.
              </div>
            </div>
            <div class="form-group mb-3 col-lg-6">
              <label class="form-label">Intermediary</label>
              <select class="form-select" id="intermediary" [(ngModel)]="editData.intermediary"
                formControlName="intermediary">
                <option value="">Select</option>
                <!-- <option [value]="d.id" *ngFor="let d of users">
                  {{ d.get('name') }}
                </option> -->
                <option [value]="d.id" *ngFor="let d of users">
                  {{ d.name }}
                </option>
              </select>
              <div *ngIf="
                    this.parseService.submitting &&
                    myForm.get('intermediary')!.invalid &&
                    myForm.get('intermediary')!.touched
                  " class="text-danger">
                Intermediary is required.
              </div>
            </div>
            <div class="form-group mb-3 col-lg-6">
              <label class="form-label">Rate</label>
              <input type="number" [(ngModel)]="editData.rate" class="form-control" formControlName="rate" />
              <div *ngIf="
                  this.parseService.submitting &&
                  editForm.get('rate')!.invalid &&
                  editForm.get('rate')!.touched
                " class="text-danger">
                Valid rate is required.
              </div>
            </div>



          </div>
        </div>

        <div class="modal-footer">
          <a href="#" id="scancelButton" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          <button [disabled]="parseService.saving" type="submit" class="btn btn-primary ms-auto">
            {{ parseService.saving ? "Updating..." : "Update" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>