<app-header></app-header>

<div class="page-wrapper">
  <div class="page-body">
    <div class="container-xl">
        <div class="container">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Motor Vehicle Insurance Quotation</h3>
                  </div>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <h4>Vehicle Details</h4>
                        <p><strong>Make & Model:</strong> {{ vehicle.makeModel }}</p>
                        <p><strong>Year of Manufacture:</strong> {{ vehicle.year }}</p>
                        <p><strong>Registration Number:</strong> {{ vehicle.registration }}</p>
                      </div>
                      <div class="col-md-6">
                        <h4>Insurance Details</h4>
                        <p><strong>Coverage Type:</strong> {{ insurance.coverageType }}</p>
                        <p><strong>Premium:</strong> KES {{ insurance.premium | number }}</p>
                        <p><strong>Excess:</strong> {{ insurance.excess }}%</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <h4>Total Cost</h4>
                        <p><strong>Annual Premium:</strong> KES {{ insurance.totalCost | number }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary" (click)="purchase()">Purchase Insurance</button>
                    &nbsp;
                    <button class="btn btn-secondary" (click)="goBack()">Go Back</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
    </div>
  </div>
</div>
