<div class="page page-center">
  <div
    class="mb-3 mt-3"
    *ngIf="
      parseService.fetching || parseService.saving || parseService.deleting
    "
  >
    <div class="progress">
      <div class="progress-bar progress-bar-indeterminate bg-green"></div>
    </div>
  </div>
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <h2 class="h2 text-center mb-4">
        JAZK<span style="color: red"> Sales Portal</span>
      </h2>
    </div>
    <div class="card card-md">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Sign in with phone</h2>
        <!-- <div class="mb-3">
            <label class="form-label">Country</label>
            <select class="form-select">
              <option value="">Kenya</option>
            </select>
          </div> -->
        <div class="mb-4" *ngIf="status == ''">
          <label class="form-label">Your Phone Number</label>
          <div class="input-group">
            <span class="input-group-text">+254</span>
            <input
              type="text"
              [(ngModel)]="phoneNumber"
              class="form-control"
              placeholder="Enter phone number"
            />
          </div>
        </div>
        <div class="mb-4" *ngIf="status == 'codesent'">
          <label class="form-label">SMS Code</label>
          <div class="input-group">
            <span class="input-group-text">Write Code</span>
            <input
              [(ngModel)]="verificationCode"
              type="text"
              class="form-control"
              placeholder="Enter sms code"
            />
          </div>
        </div>
        <!-- <div class="mb-4" *ngIf="isPhoneVerified">
          <label class="form-label">Password</label>
          <div class="input-group">
            <span class="input-group-text">Enter Password</span>
            <input
              [(ngModel)]="password"
              type="password"
              class="form-control"
              placeholder="Enter password"
            />
          </div>
        </div> -->
        <div class="mb-2" *ngIf="status == 'verified'">
          <label class="form-label">
            Password
          </label>
          <div class="input-group input-group-flat">
            <input
              id="password"
              name="password"
              [(ngModel)]="password"
              [type]="passwordType"
              class="form-control"
              placeholder="Enter Your password"
              autocomplete="off"
            />
            <span class="input-group-text">
              <a
                (click)="toggleViewPassword()"
                class="link-secondary"
                title="Show password"
                data-bs-toggle="tooltip"
                ><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path
                    d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
                  />
                </svg>
              </a>
            </span>
          </div>
        </div>
        <div class="text-secondary">
          Security is critical at Jubilee Allianz. to help keep your account
          safe, we'll text you a verification code when you sign in on a new
          device
        </div>
        <div class="form-footer">
          <button *ngIf="status == ''"
            type="button"
            (click)="requestVerificationCode()"
            class="btn btn-primary w-100"
          >
            Send code
          </button>
          <button *ngIf="status == 'codesent'"
            type="button"
            (click)="verifyCode()"
            class="btn btn-primary w-100"
          >
            Verify code
          </button>
          <button *ngIf="status == 'verified'"
            type="button"
            (click)="onLogin()"
            class="btn btn-primary w-100"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
