<app-header></app-header>

<div class="page-wrapper">
  <div
    class="mb-3"
    *ngIf="
      parseService.fetching || parseService.saving || parseService.deleting
    "
  >
    <div class="progress">
      <div class="progress-bar progress-bar-indeterminate bg-green"></div>
    </div>
  </div>

  <div class="page-body">
    <div class="container-xl">
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex align-items-center">
        <div class="container">
          <!-- <h1>Buy Travel Insurance Online</h1> -->
          <!-- <h2>Access all your premium covers with a click of a button</h2> -->
          <!-- <a href="#inputform" class="btn-get-started scrollto">Get Started</a> -->
        </div>
      </section>
      <!-- End Hero -->

      <!-- ======= Appointment Section ======= -->
      <section id="appointment" class="appointment section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Please complete the KYC form and Vehicle Details below</h2>
          </div>

          <div class="php-email-form">
            <p>Please provide the details below to proceed</p>
            <div class="row">
              <div class="col-md-4 form-group mb-3">
                <label class="form-label" for="bodytype"
                  ><small>Type</small></label
                >
                <select
                  title="select"
                  [(ngModel)]="vehicle.kycType"
                  name="bodyType"
                  id="bodytype"
                  class="form-select"
                >
                  <option value="individual">Individual</option>
                  <option value="company">Company</option>
                </select>
                <div class="validate"></div>
              </div>

              <div class="col-md-4 form-group">
                <label class="form-label" for="tin"
                  ><small>{{
                    vehicle.kycType == "individual"
                      ? "KRA PIN"
                      : "Company KRA PIN"
                  }}</small></label
                >
                <input
                  [(ngModel)]="vehicle.pTin"
                  type="text"
                  id="kraPin"
                  name="kraPin"
                  class="form-control"
                  placeholder="KRA PIN"
                  #kraPinInput="ngModel"
                />
                <div
                  style="color: red"
                  *ngIf="
                    vehicle.pTin &&
                    !validateKraPin(vehicle.pTin, vehicle.kycType)
                  "
                >
                  Invalid KRA PIN format.
                </div>
              </div>

              <div
                class="col-md-4 form-group"
                *ngIf="vehicle.kycType == 'company'"
              >
                <label class="form-label" for="companyRegNo"
                  ><small>Company Registration Number</small></label
                >
                <input
                  [(ngModel)]="vehicle.companyRegNo"
                  type="text"
                  name="companyRegNo"
                  class="form-control"
                  id="companyRegNo"
                  placeholder="Enter Registration Number"
                />
                <div class="validate"></div>
              </div>

              <div
                class="col-md-4 form-group"
                *ngIf="vehicle.kycType == 'individual'"
              >
                <label class="form-label" for="nin"
                  ><small>National ID</small></label
                >
                <!-- <input
                [(ngModel)]="vehicle.nin"
                type="text"
                name="nin"
                class="form-control"
                id="nin"
                placeholder="Enter NIN"
              /> -->

                <div class="input-group input-group-flat">
                  <input
                    id="queryInput"
                    (input)="onSearchNIN($event)"
                    [(ngModel)]="vehicle.nin"
                    type="text"
                    class="form-control"
                    autocomplete="off"
                    placeholder="Enter National ID"
                  />
                  <span class="input-group-text">
                    <div
                      *ngIf="searching.nin"
                      class="spinner-border spinner-border-sm text-secondary"
                      role="status"
                    ></div>
                  </span>
                </div>
              </div>

              <div class="col-md-4 form-group mb-3">
                <label class="form-label" for="firstname"
                  ><small>{{
                    vehicle.kycType == "individual"
                      ? "First & Last Name"
                      : "Business Name"
                  }}</small></label
                >
                <input
                  [(ngModel)]="vehicle.pfnameMasked"
                  type="text"
                  name="firstname"
                  class="form-control"
                  id="firstname"
                  placeholder="Enter Name"
                />
                <div class="validate"></div>
              </div>

              <div class="col-md-4 form-group">
                <label class="form-label">Phone</label>
                <div class="input-group">
                  <span class="input-group-text">+254</span>
                  <input
                    class="form-control"
                    placeholder="Phone Number"
                    [(ngModel)]="vehicle.pphone"
                  />
                </div>
              </div>

              <div class="col-md-4 form-group mb-3">
                <label class="form-label" for="email"
                  ><small>Email</small></label
                >
                <input
                  [(ngModel)]="vehicle.pemail"
                  type="email"
                  class="form-control"
                  name="email"
                  id="e-mail"
                  placeholder="E-mail"
                />
                <div *ngIf="!emailIsValid()" style="color: red">
                  *Please enter a valid email address.
                </div>
                <div class="validate"></div>
              </div>

              <div class="col-md-4 form-group mb-3">
                <label class="form-label" for="city"><small>City</small></label>
                <input
                  
                  [(ngModel)]="vehicle.pCity"
                  type="text"
                  name="city"
                  class="form-control"
                  id="city"
                  placeholder="City"
                />
                <div class="validate"></div>
              </div>

              <div class="col-md-4 form-group">
                <label class="form-label" for="address"
                  ><small>Postal Address</small></label
                >
                <input
                  
                  [(ngModel)]="vehicle.pAddress"
                  type="text"
                  name="address"
                  class="form-control"
                  id="address"
                  placeholder="Postal Address"
                />
                <div class="validate"></div>
              </div>

              <div
                class="col-md-4 form-group"
                *ngIf="vehicle.kycType == 'individual'"
              >
                <label class="form-label" for="dob"
                  ><small>Date of Birth</small></label
                >
                <input
                  [(ngModel)]="vehicle.dob"
                  type="date"
                  name="dob"
                  class="form-control"
                  id="dob"
                  placeholder="dob"
                />
                <div class="validate"></div>
              </div>

              <div
                class="col-md-4 form-group"
                *ngIf="vehicle.kycType == 'individual'"
              >
                <label class="form-label" for="city"
                  ><small>Gender</small></label
                >
                <input
                  disabled
                  [(ngModel)]="vehicle.gender"
                  type="text"
                  name="gender"
                  class="form-control"
                  id="gender"
                  placeholder="Gender"
                />
                <div class="validate"></div>
              </div>
            </div>
            <br />
          </div>

          <div>
            <div class="row">

              <div class="col-md-3 form-group mt-3">
                <label class="form-label" for="registrationnumber"
                  ><small>Vehicle Registration Number</small></label
                >
                <input
                  type="text"
                  [(ngModel)]="motorService.motorQuotation.vehicleRegNumber"
                  name="registrationNumber"
                  class="form-control"
                  id="registrationnumber"
                  placeholder="Registration Number"
                />
                <div class="validate"></div>
              </div>
              <div class="col-md-3 form-group mt-3">
                <label class="form-label">Vehicle Make: </label>
                <input
                  type="text"
                  disabled
                  class="form-control"
                  [value]="this.motorService.motorQuotation.vehicleMake"
                />
              </div>

              <div class="col-md-3 form-group mt-3">
                <label class="form-label">Vehicle Model </label>
                <input
                  type="text"
                  disabled
                  class="form-control"
                  [value]="this.motorService.motorQuotation.vehicleModel"
                />
              </div>

              <div class="col-md-3 form-group mt-3">
                <label class="form-label" for="bodytype"
                  ><small>Vehicle Body Type</small></label
                >
                <select
                  title="select"
                  [(ngModel)]="vehicle.bodyType"
                  name="bodyType"
                  id="bodytype"
                  class="form-select"
                >
                  <option value="undefined" disabled>Body Type</option>
                  <option *ngFor="let item of bodyTypes" [value]="item">
                    {{ item }}
                  </option>
                </select>
                <div class="validate"></div>
              </div>

              <div class="col-md-3 form-group mt-3">
                <label class="form-label" for="enginenumber"
                  ><small>Vehicle Engine Number</small></label
                >
                <input
                  type="text"
                  [(ngModel)]="vehicle.EngineNumber"
                  name="EngineNumber"
                  class="form-control"
                  id="enginenumber"
                  placeholder="Engine Number"
                />
                <div class="validate"></div>
              </div>
              
              <div class="col-md-3 form-group mt-3">
                <label class="form-label" for="chasisnumber"
                  ><small>Vehicle Chasis Number</small></label
                >
                <input
                  type="text"
                  [(ngModel)]="vehicle.chasisNumber"
                  name="chasisNumber"
                  class="form-control"
                  id="chasisnumber"
                  placeholder="Chasis Number"
                />
                <div class="validate"></div>
              </div>

              <div class="col-md-3 form-group mt-3">
                <label class="form-label" for="tonnage"
                  ><small>Vehicle Tonnage</small></label
                >
                <input
                  type="number"
                  [(ngModel)]="vehicle.tonnage"
                  name="tonnage"
                  class="form-control"
                  id="tonnage"
                  placeholder="Vehicle Tonnage"
                />
                <div class="validate"></div>
              </div>
              <div class="col-md-3 form-group mt-3">
                <label class="form-label" for="seating"
                  ><small>Seating Capacity</small></label
                >
                <input
                  type="number"
                  [(ngModel)]="vehicle.seatingCapacity"
                  name="seating"
                  class="form-control"
                  id="seating"
                  placeholder="Seating Capacity"
                />
                <div class="validate"></div>
              </div>
              <div class="col-md-3 form-group mt-3">
                <label class="form-label" for="passengers"
                  ><small>Number of Passengers</small></label
                >
                <input
                  type="number"
                  [(ngModel)]="vehicle.numPassengers"
                  name="passengers"
                  class="form-control"
                  id="passengers"
                  placeholder="Number of passengers"
                />
                <div class="validate"></div>
              </div>

              <div class="col-md-3 form-group mt-3">
                <label class="form-label" for="seating"
                  ><small>CC</small></label
                >
                <input
                  type="number"
                  [(ngModel)]="vehicle.cc"
                  name="cc"
                  class="form-control"
                  id="cc"
                  placeholder="Vehicle CC"
                />
                <div class="validate"></div>
              </div>
              
            </div>
            <br />
            <div class="row">
              <div class="col-md-6 form-group mt-3">
                <label class="form-label" for="{{ vehicle.motorId }}"
                  ><small
                    >Does your vehicle have interest of a bank or micro finance
                    institution?</small
                  ></label
                >
                <select
                  title="select"
                  [(ngModel)]="vehicle.anyBankOrMFIInterested"
                  name="bankOrMFIInterest"
                  id="{{ vehicle.motorId }}"
                  (change)="onbankInterestChanged($event, vehicle.motorId)"
                  class="form-select"
                >
                  <option value="undefined" disabled>
                    Does your vehicle have interest of a bank/MFI?
                  </option>
                  <option *ngFor="let item of twoType" [value]="item.id">
                    {{ item.name }}
                  </option>
                </select>
                <div class="validate"></div>
              </div>
              <div
                class="col-md-4 form-group mt-3"
                *ngIf="vehicle.IsBankOrMFIinterested"
              >
                <label class="form-label" for="bankOrMFIname"
                  ><small
                    >Please Select the Bank/Micro-Finance Institution</small
                  ></label
                >

                <input
                  [(ngModel)]="vehicle.bankOrMFI"
                  name="bankOrMFI"
                  id="bankOrMFIname"
                  class="form-control"
                  list="datalistOptions"
                  placeholder="Type to search..."
                />
                <datalist id="datalistOptions">
                  <option value="" disabled>Name of the Bank/MFI</option>
                  <option *ngFor="let item of banks_mfis" [value]="item.name">
                    {{ item.name }}
                  </option>
                </datalist>

                <!-- <select
                  title="select"
                  [(ngModel)]="vehicle.bankOrMFI"
                  [ngModelOptions]="{ standalone: true }"
                  name="bankOrMFI"
                  id="bankOrMFIname"
                  class="form-select"
                >
                  <option value="" disabled>Name of the Bank/MFI</option>
                  <option *ngFor="let item of banks_mfis" [value]="item.name">
                    {{ item.name }}
                  </option>
                </select> -->
                <div class="validate"></div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-4 form-group mb-3">
                <label class="form-label" for="bodytype"
                  ><small>Select Valuer</small></label
                >
                <select
                  title="select"
                  [(ngModel)]="vehicle.valuer"
                  name="bodyType"
                  id="bodytype"
                  class="form-select"
                >
                  <option value="undefined" disabled>Name of Valuer</option>
                  <option *ngFor="let v of valuers" [value]="v">{{ v }}</option>
                </select>
                <div class="validate"></div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-4 form-group mb-3">
                <label class="form-label" for="companyDivision">
                  <small>Select the Insurance Company branch</small>
                </label>
                <select title="select" [(ngModel)]="companyDivision"
                name="companyDivision" id="companyDivision" class="form-select">
                <option value="" disabled class="text-left">Company Branch</option>
                <option *ngFor="let item of motorService.companyDivision" [value]="item.divn_code">
                  {{ item.divn_name }}
                </option>
              </select>
              </div>
            </div>
          </div>

          <br />
          <p>When do you want the Insurance cover to start?</p>
          <div class="row">
            <div class="col-md-4 form-group">
              <label class="form-label" for="coverstartdate"
                ><small>Cover Start Date</small></label
              >
              <input
                onkeydown="event.preventDefault()"
                [min]="minDate"
                [max]="maxCoverDate"
                (input)="onCoverDateChanged($event)"
                name="age"
                type="date"
                id="coverstartdate"
                class="form-control"
                placeholder="Cover Start Date"
              />
              <div class="validate"></div>
            </div>

            <div class="col-md-2 form-group"></div>

            <div class="col-md-4 form-group">
              <label class="form-label" for="coverenddate"
                ><small>Cover End Date</small></label
              >
              <input
                onkeydown="event.preventDefault()"
                id="coverenddate"
                disabled
                name="age"
                type="date"
                [(ngModel)]="coverEndDate"
                class="form-control"
                placeholder="Cover End Date"
              />
              <div class="validate"></div>
            </div>
          </div>
          <br />

          <div *ngIf="user">
            <div class="doctors">
              <div class="member">
                <div class="member-info">
                  <h4>Disclaimers</h4>
                  <div *ngFor="let d of disclaimers" class="form-check">
                    <input
                      [(ngModel)]="d.declarationYes"
                      class="form-check-input"
                      type="checkbox"
                      name="flexRadioDefaultownership"
                      id="flexRadioDefaultownership"
                    />
                    <label
                      class="form-label"
                      class="form-check-label"
                      for="flexRadioDefaultownership"
                    >
                      {{d.text}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!user">
            <br />
            <br />
            <div class="doctors">
              <div class="member">
                <div class="member-info">
                  <h4>Ownership Declaration</h4>
                  <!-- <br> -->
                  <!-- <p>Self Declaration Statement:</p> -->
                  <div class="form-check">
                    <input
                      [(ngModel)]="vehicle.ownershipDeclarationYes"
                      class="form-check-input"
                      type="checkbox"
                      name="flexRadioDefaultownership"
                      id="flexRadioDefaultownership"
                    />
                    <label
                      class="form-label"
                      class="form-check-label"
                      for="flexRadioDefaultownership"
                    >
                      I understand that I can only procure insurance on an asset
                      that I have a legal interest in. I confirm that the
                      vehicle(s) whose details I have provided is/are owned by
                      me and that the details in the log book match my personal
                      details which I have provided. I understand that if at the
                      time of claim the personal information provided is
                      different from the information in the log book then the
                      claim may be declined.
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="doctors">
              <div class="member">
                <div class="member-info">
                  <h4>Inspection of my vehicle</h4>
                  <!-- <br> -->
                  <!-- <p>Self Declaration Statement:</p> -->
                  <div class="form-check">
                    <input
                      [(ngModel)]="vehicle.inspectionVehicleDeclarationYes"
                      class="form-check-input"
                      type="checkbox"
                      name="flexRadioDefaultOwneshipVehicle"
                      id="flexRadioDefaultOwneshipVehicle"
                    />
                    <label
                      class="form-label"
                      class="form-check-label"
                      for="flexRadioDefaultOwneshipVehicle"
                    >
                      I agree to avail my vehicle for inspection within two (2)
                      weeks after buying my motor insurance. I understand that
                      failure to have my vehicle inspected may lead to
                      cancellation of my insurance and refund of my premiums
                      less premium chargeable for the two weeks of cover.
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <br />

            <div class="doctors">
              <div class="member">
                <div class="member-info">
                  <h4>Terms and Conditions</h4>
                  <br />
                  <p>
                    We want you to know exactly how our service works and why we
                    need your registration information. Please read and accept
                    the terms before continuing.
                  </p>
                  <div class="form-check form-check-inline">
                    <input
                      [(ngModel)]="vehicle.acceptTerms"
                      class="form-check-input"
                      type="checkbox"
                      id="inlineCheckbox1"
                      value="option1"
                    />
                    <label
                      class="form-label"
                      class="form-check-label"
                      for="inlineCheckbox1"
                    >
                      I confirm I have read, understood and accept the
                      <a [href]="termsUrl" target="_blank"
                        >Terms and Conditions</a
                      >. I accept your
                      <a
                        href="https://www.jubilee-allianz.com/ke/privacy_policy.html"
                        target="_blank"
                        >Privacy Notice</a
                      >
                      and understand that I can learn more about how you protect
                      my personal data by reading
                      <a
                        href="https://www.jubilee-allianz.com/ke/privacy_policy.html"
                        target="_blank"
                        >the document</a
                      >. I acknowledge that I am aware about the importance of
                      obtaining insurance advice From an insurance consultant,
                      licensed and registered with the Insurance and Regulatory
                      Authority before buying any insurance product.
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <br />

            <div class="doctors">
              <div class="member">
                <div class="member-info">
                  <h4>Self Declaration</h4>
                  <!-- <br> -->
                  <!-- <p>Self Declaration Statement:</p> -->
                  <div class="form-check">
                    <input
                      [(ngModel)]="vehicle.userDeclarationYes"
                      class="form-check-input"
                      type="checkbox"
                      name="flexRadioDefault4"
                      id="flexRadioDefault4"
                    />
                    <label
                      class="form-label"
                      class="form-check-label"
                      for="flexRadioDefault4"
                    >
                      I declare that the statements and particulars filled and
                      submitted through this platform are complete, correct and
                      true to the best of my knowledge and belief and that no
                      material facts have been misstated or withheld. I agree
                      that the information I have provided shall form the basis
                      of my insurance contract between me and Jubliee Allianz
                      General Insurance Company Limited (the Company) and I
                      agree to accept the policy subject to the terms and
                      conditions prescribed by the Company which have been
                      carefully read and understood by me.
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <br />

          <button
            id="showPaymentModal"
            hidden
            data-bs-toggle="modal"
            data-bs-target="#modal-make-payment"
          ></button>

          <div class="php-email-form">
            <div class="text-center">
              <button
                (click)="buyNow()"
                class="btn btn-primary"
                [disabled]="parseService.fetching"
              >
                Make Payment
              </button>
            </div>
          </div>

          <div
            class="mb-3"
            *ngIf="
              parseService.fetching ||
              parseService.saving ||
              parseService.deleting
            "
          >
            <div class="progress">
              <div
                class="progress-bar progress-bar-indeterminate bg-green"
              ></div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
      </section>
      <!-- End Appointment Section -->
    </div>
  </div>
</div>

<div
  class="modal modal-blur"
  id="modal-make-payment"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Buy Coverage</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <!-- <h2>Buy Coverage </h2> -->
          <p>
            Choose the appropriate payment method to proceed with the purchase.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-8">
            <div class="mb-3">
              <label class="form-label">Select Payment Method</label>
              <select [(ngModel)]="paymentData.method" class="form-select">
                <option value="" disabled>Select</option>
                <option value="mm">Mobile Money</option>
                <option value="card">Card</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Payment Installments</label>
              <select
                (change)="createInstallments($event)"
                [(ngModel)]="paymentData.installment_type"
                class="form-select"
              >
                <option value="" disabled>Select</option>
                <option value="1">1 Installment</option>
                <option value="2">2 Installments</option>
                <option value="3">3 Installments</option>
              </select>
            </div>

            <div
              class="mb-3"
              *ngIf="
                paymentData.installment_type == '2' ||
                paymentData.installment_type == '3'
              "
            >
              <table class="table table-vcenter card-table">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Date</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of installments; let i = index">
                    <td class="text-primary">
                      {{ i + 1 }}
                    </td>
                    <td>
                      {{ item.date | date }}
                    </td>

                    <td class="text-secondary">
                      KES {{ item.amount | number }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="mb-3" *ngIf="paymentData.method == 'mm'">
              <label class="form-label">Mobile Money Number</label>
              <div class="input-group">
                <span class="input-group-text">+254</span>
                <input
                  class="form-control"
                  placeholder="Enter Phone Number"
                  [(ngModel)]="paymentData.mmNumber"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <a
          id="paymentcancelbutton"
          href="#"
          class="btn btn-link link-secondary"
          data-bs-dismiss="modal"
        >
          Cancel
        </a>
        <a (click)="startPayment()" class="btn btn-primary ms-auto">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 5l0 14"></path>
            <path d="M5 12l14 0"></path>
          </svg>
          Make Payment
        </a>
      </div>
    </div>
  </div>
</div>
