
<app-header></app-header>
<div class="page page-center">
    <div class="text-center mt-4">
        <div class="text-center" >
          <h1 class="mb-3">Discover Your Ideal Insurance Plan!</h1>
          <p class="text-secondary mb-1">
              Easily explore and receive quotes for all your coverage needs with just one click.
          </p>
      </div>
      </div>
    <div class="container-tight py-4">
      
      <div class="card card-md">
        <div class="card-body">
          <h2 class="mb-3">Buy Motor Insurance Online</h2>
          <p class="text-secondary mb-4">
            Get compensation for costs incurred following a motor accident, whether it's a car, truck, motorcycle, or any road vehicle.
          </p>
          <ul class="list-unstyled space-y">
            <li class="row g-2">
              <span class="col-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon me-1 text-success"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l5 5l10 -10"></path></svg>
              </span>
              <span class="col">
                <strong class="d-block">Comprehensive Coverage</strong>
                <span class="d-block text-secondary">Protect your vehicle with extensive coverage options, including third-party liability, damage, and more.

                </span>
              </span>
            </li>
            <li class="row g-2">
              <span class="col-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon me-1 text-success"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l5 5l10 -10"></path></svg>
              </span>
              <span class="col">
                <strong class="d-block">Accessible Everywhere</strong>
                <span class="d-block text-secondary">Manage your policy and claims online, on your mobile, or through our customer service – anytime, anywhere. 
                </span>
              </span>
            </li>
            <!-- <li class="row g-2">
              <span class="col-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon me-1 text-success"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l5 5l10 -10"></path></svg>
              </span>
              <span class="col">
                <strong class="d-block">Tailor Your Policy
                </strong>
                <span class="d-block text-secondary">Customize your coverage to match your driving habits and vehicle type, ensuring you get exactly what you need.
                </span>
              </span>
            </li> -->
          </ul>
          <div class="my-4">
            <a [routerLink]="['/motor']" routerLinkActive="router-link-active"  class="btn btn-primary w-100">
                Insure your motor vehicle
                &nbsp;
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l14 0" />
                    <path d="M15 16l4 -4" />
                    <path d="M15 8l4 4" />
                  </svg>
            </a>
          </div>
          <p class="text-secondary">
            If you need help, please feel free to <a href="https://www.jubilee-allianz.com/ke.html">contact us</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
<!-- <div class="page page-center">
  <div class="container py-4" style="margin-top: 100px !important;">
      <div class="text-center" style="margin-bottom: 100px !important;">
          <h1 class="mb-3">Discover Your Ideal Insurance Plan!</h1>
          <p class="text-secondary mb-4">
              Easily explore and receive quotes for all your coverage needs with just one click.
          </p>
      </div>
     
      <div id="carousel-sample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row row-deck row-cards column-gap-3">
                      <div class="col"></div>
                      <div class="col">
                          <div class="card card-md">
                              <div class="text-center fs-1 mt-5">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#2c4964" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-jazke icon-tabler icons-tabler-outline icon-tabler-car">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                    <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                    <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
                                  </svg>
                                  </div>
                              
                              <div class="card-body text-center">
                                  <h2 class="mb-3">Insure your Motor Vehicle</h2>
                                  <p class="text-secondary mb-4">
                                      Get coverage for vehicle damage, crew and third-party injuries, and property damage from motor accidents.
                                  </p>
                                  <div class="my-4">
                                      <a [routerLink]="['/motor']" routerLinkActive="router-link-active" class="btn btn-primary w-100">
                                          Get Quote
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="col"></div>
                  </div>
              </div>
          
            </div>
          <a class="carousel-control-prev" data-bs-target="#carousel-sample" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" data-bs-target="#carousel-sample" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </a>
      </div>

  </div>
</div> -->

