<!-- Hero Section - Home Page -->
<app-header></app-header>
<div class="page page-center">
  <div class="container py-4" style="margin-top: 100px !important;">
      <div class="text-center" style="margin-bottom: 100px !important;">
          <h1 class="mb-3">Discover Your Ideal Insurance Plan!</h1>
          <p class="text-secondary mb-4">
              Easily explore and receive quotes for all your coverage needs with just one click.
          </p>
      </div>
      <!-- <div class="card card-md">
          <div class="card-body">
              <h2 class="mb-3">Discover Your Ideal Insurance Plan!</h2>
              <p class="text-secondary mb-4">
                  Easily explore and receive quotes for all your coverage needs with just one click.
              </p>
              <div class="my-4">
                  <a href="#" class="btn btn-primary w-100">
                      Upgrade to a paid plan
                  </a>
              </div>
          </div>
      </div> -->
      <div id="carousel-sample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="row row-deck row-cards column-gap-3">
                      <div class="col"></div>
                      <div class="col">
                          <div class="card card-md">
                              <div class="text-center fs-1 mt-5">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#2c4964" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-jazke icon-tabler icons-tabler-outline icon-tabler-car">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                    <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                    <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
                                  </svg>
                                  </div>
                              <!-- <div class="card-stamp">
                                  <div class="card-stamp-icon bg-jazke">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#2c4964" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-car">
                                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                          <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                          <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                          <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
                                      </svg>                                          
                                  </div>
                              </div> -->
                              <div class="card-body text-center">
                                  <h2 class="mb-3">Insure your Motor Vehicle</h2>
                                  <p class="text-secondary mb-4">
                                      Get coverage for vehicle damage, crew and third-party injuries, and property damage from motor accidents.
                                  </p>
                                  <div class="my-4">
                                      <a [routerLink]="['/motor']" routerLinkActive="router-link-active" class="btn btn-primary w-100">
                                          Get Quote
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- <div class="col">
                          <div class="card">
                              <div class="card-body" style="height: 10rem"></div>
                          </div>
                      </div>
                      <div class="col">
                          <div class="card">
                              <div class="card-body" style="height: 10rem"></div>
                          </div>
                      </div> -->
                      <div class="col"></div>
                  </div>
              </div>
              <!-- <div class="carousel-item">
                  <div class="row row-deck row-cards column-gap-3">
                      <div class="col"></div>
                      <div class="col">
                          <div class="card">
                              <div class="card-body" style="height: 10rem"></div>
                          </div>
                      </div>
                      <div class="col">
                          <div class="card">
                              <div class="card-body" style="height: 10rem"></div>
                          </div>
                      </div>
                      <div class="col">
                          <div class="card">
                              <div class="card-body" style="height: 10rem"></div>
                          </div>
                      </div>
                      <div class="col"></div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="row row-deck row-cards column-gap-3">
                      <div class="col"></div>
                      <div class="col">
                          <div class="card">
                              <div class="card-body" style="height: 10rem"></div>
                          </div>
                      </div>
                      <div class="col">
                          <div class="card">
                              <div class="card-body" style="height: 10rem"></div>
                          </div>
                      </div>
                      <div class="col"></div>
                  </div>
              </div> -->
          </div>
          <a class="carousel-control-prev" data-bs-target="#carousel-sample" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" data-bs-target="#carousel-sample" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </a>
      </div>

  </div>
</div>

