<!-- Hero Section - Home Page -->
<app-header></app-header>
<div class="page-wrapper">


  <div class="page page-center" >
    <div class="container container-tight py-4">
       
      <div class="card card-md">
        <div class="card-body">
          <h2 class="mb-3">Welcome!</h2>
          <p class="text-secondary mb-4">
            LPO SYSTEM
          </p>
          
          <div class="my-4">
            <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn w-100" style="background-color: chocolate; color: white;">
              LOGIN
            </a>
          </div>
          <!-- <p class="text-secondary">
            If you need to get a trial extension please feel free to <a href="#">contact us</a>.
          </p> -->
        </div>
      </div>
    </div>
  </div>

</div>

