<div class="card">
  
  <div class="card-body">
    <div class="container-fluid">
      
      <div >

        <!-- <ul class="navbar-nav pt-lg-3">
          <li *ngFor="let item of list" class="nav-item">
            <a class="nav-link" [routerLink]="[item.route]" routerLinkActive="router-link-active" >
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <div *ngIf="item.icon" [innerHTML]="item.icon | sanitizeHtml" ></div>
              </span>
              <span class="nav-link-title">
                {{item.name}} <span *ngIf="item.count" class="badge bg-orange text-orange-fg ms-2 badge-pill">{{item.count}}</span>
              </span>
            </a>   
          </li>
        </ul>  -->
        

        <ul class="navbar-nav pt-lg-3">
          <li  class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="router-link-active" >
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <path d="M5 12l-2 0l9 -9l9 9l-2 0" /> <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /> <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /> </svg>
              </span>
              <span class="nav-link-title">
                Dashboard 
              </span>
            </a>   
          </li>
          <div class="accordion" id="accordion-example">
            <li class="nav-item accordion-header" id="heading-1">
              <a class="nav-link accordion-button px-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
                </span>
                <span class="nav-link-title">
                  Products
                </span>
              </a>   
            </li>
            <div class="accordion-item">
              
              <div id="collapse-1" class="accordion-collapse collapse show" data-bs-parent="#accordion-example">
                <div class="accordion-body pt-0">
                  <ul class="navbar-nav pt-lg-1">
                    <li *ngFor="let item of list" class="nav-item">
                      <a class="nav-link" [routerLink]="[item.route]" routerLinkActive="router-link-active" >
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                          <div *ngIf="item.icon" [innerHTML]="item.icon | sanitizeHtml" ></div>
                        </span>
                        <span class="nav-link-title">
                          {{item.name}} <span *ngIf="item.count" class="badge bg-orange text-orange-fg ms-2 badge-pill">{{item.count}}</span>
                        </span>
                      </a>   
                    </li>
                  </ul> 
                </div>
              </div>
            </div>          
          </div>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reports" routerLinkActive="router-link-active" >
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-report"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h5.697" /><path d="M18 14v4h4" /><path d="M18 11v-4a2 2 0 0 0 -2 -2h-2" /><path d="M8 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M8 11h4" /><path d="M8 15h3" /></svg>
              </span>
              <span class="nav-link-title">
                Reports 
              </span>
            </a>   
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/welcome" routerLinkActive="router-link-active" >
              <span class="nav-link-icon d-md-none d-lg-inline-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <path d="M12 5l0 14" /> <path d="M5 12l14 0" /> </svg>
              </span>
              <span class="nav-link-title">
                New Quotation
              </span>
            </a>   
          </li>
          
       
        </ul>
      </div>
    </div>
  </div>
</div>