.container {
  max-width: 900px;
  background-color: #fff;
}

.footer-border {
  border: 2px solid black;
}

p {
  line-height: 1.6;
}

.border-bottom-1 {
  border-bottom: 1px solid black;
}

.custom-bg {
  background-color: #003781;
  color: white;
}

.custom-bg-grey {
  background-color: #f3f5f7; /* A grey shade between light and secondary */
}

.dotted-list {
  list-style-type: none;
}
.dotted-list li {
  position: relative;
  padding-left: 10px;
}

.dotted-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.6em;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

